# dotenv
infraestrutura/variaveis/.env.dev
infraestrutura/variaveis/.env.pro

# node_modules
node_modules

# docker
Dockerfile
.dockerignore

# diretorio de migrations
repositoriosDatabase
.sequelizerc