# dotenv
infraestrutura/variaveis/.env.ubuntu
infraestrutura/variaveis/.env.ubuntu.pro
infraestrutura/variaveis/.env.win
infraestrutura/variaveis/.env.win.pro

# node_modules
node_modules

# docker
Dockerfile
.dockerignore

# api pagamento
api-pagamento-online/node_modules
api-pagamento-online/.dockerignore
api-pagamento-online/Dockerfile

# diretorio de migrations
repositoriosDatabase
.sequelizerc

# outros
.slugignore
Procfile